*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: #3498db;
}
.containertext{
   text-align: center;
   padding: 40px;
   font-weight: bold;
   color: white;
}
.textheader{
   
    margin: 10px;
}
.itembox{
    padding: 20px;
    width: 318px;
    margin: 60px;
   border-radius: 3px;
   color: white;
   background-color: rgba(0, 0, 0, 0.699);
}
.itemh2{
    color: #34495e;
}
.itemh4{
    font-size: 22px;
    font-weight: bold;
    color: #0072EF;
}
.fa-solid{
    color: #0072EF;
}
.item{
  padding: 10px;
  text-align: center;
}
ul{
    list-style: none;
    
    margin: 20px;
}
.itembuttonbox{
text-align: center;
}
.itemlist{
    margin: 9px;
}
.itembutton{
    width: 120px;
    height: 45px;
    border: none;
    background-color: #0072EF;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.section{
    display: flex;
    justify-content: space-evenly;
}
.itembox3{
    padding: 20px;
    border: 3px solid black;
    width: 318px;
    margin: 20px;
   border-radius: 3px;
   color: white;
   background-color: black;
}
.itembox4{
 display: none;
}
.itembox2{
    padding: 10px;
    border: none;
    width: 318px;
    margin: 40px;
   border-radius: 3px;
   background-color:#ecf0f1;
   font-weight: bold;
}
.itemlist2{
    color: #2c3e50;
    margin: 9px;
    
}
.itembox5{
    display: none;
}
@media only screen and (max-width: 992px) {
    .itembox3{
        display: none;
    }
    .itembox5{
        display: none;
    }
    .itembox4{
        padding: 20px;
        border: 3px solid black;
        width: 318px;
        margin: 20px;
       border-radius: 3px;
       color: white;
       background-color: black;
       display: block;
    }
}
@media only screen and (max-width: 768px) {
    
    .itembox3{
        display: none;
    }
    .itembox2{
        display: none;
    }
    .itembox4{
        padding: 20px;
        border: 3px solid black;
        width: 318px;
        margin: 20px;
       border-radius: 3px;
       color: white;
       background-color: black;
       display: block;
    }
    .itembox5{
        padding: 10px;
        border: none;
        width: 318px;
        margin: 40px;
       border-radius: 3px;
       background-color:#ecf0f1;
       font-weight: bold;
       display: block;
    }
}

*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.containerA{
    max-width: 1400px;
    margin: auto;
}

.Main{
    background-image: url("./../images/e6157d-15-041-3b75-0dc8deb2ea41_yt-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left{
    max-width: 550px;
    max-height: 430px;
}
.leftimg{
    width: 100%;
    height: 100%;
}

.Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PP{
    margin-top: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.black{
    color: black;
}
.headertwo{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}
.Atag{
    text-decoration: none;
    color: blue;
}
.butt {
    background-color: black;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 15px;
}

.Photos{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.Photo{
    max-width: 292.5px;
    max-height: 164.4px;
    margin: 10px 5px;
    border: 1px solid white;
    border-radius: 3px;
}
.pht{
    width: 100%;
    height: 100%;
}
.gridcontainer{
    margin: 25px 5px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

@media screen and (max-width: 992px) {
    body {
    }

    .gridcontainer{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }


@media screen and (max-width: 768px) {
    body {
    }
    .Main{
        background-image: url("./../images/e6157d-15-041-3b75-0dc8deb2ea41_yt-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gridcontainer{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  }