*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-color: #3498db;
}
.containertext{
   text-align: center;
   padding: 40px;
   font-weight: bold;
   color: white;
}
.textheader{
   
    margin: 10px;
}
.itembox{
    padding: 20px;
    width: 318px;
    margin: 60px;
   border-radius: 3px;
   color: white;
   background-color: rgba(0, 0, 0, 0.699);
}
.itemh2{
    color: #34495e;
}
.itemh4{
    font-size: 22px;
    font-weight: bold;
    color: #0072EF;
}
.fa-solid{
    color: #0072EF;
}
.item{
  padding: 10px;
  text-align: center;
}
ul{
    list-style: none;
    
    margin: 20px;
}
.itembuttonbox{
text-align: center;
}
.itemlist{
    margin: 9px;
}
.itembutton{
    width: 120px;
    height: 45px;
    border: none;
    background-color: #0072EF;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.section{
    display: flex;
    justify-content: space-evenly;
}
.itembox3{
    padding: 20px;
    border: 3px solid black;
    width: 318px;
    margin: 20px;
   border-radius: 3px;
   color: white;
   background-color: black;
}
.itembox4{
 display: none;
}
.itembox2{
    padding: 10px;
    border: none;
    width: 318px;
    margin: 40px;
   border-radius: 3px;
   background-color:#ecf0f1;
   font-weight: bold;
}
.itemlist2{
    color: #2c3e50;
    margin: 9px;
    
}
.itembox5{
    display: none;
}
@media only screen and (max-width: 992px) {
    .itembox3{
        display: none;
    }
    .itembox5{
        display: none;
    }
    .itembox4{
        padding: 20px;
        border: 3px solid black;
        width: 318px;
        margin: 20px;
       border-radius: 3px;
       color: white;
       background-color: black;
       display: block;
    }
}
@media only screen and (max-width: 768px) {
    
    .itembox3{
        display: none;
    }
    .itembox2{
        display: none;
    }
    .itembox4{
        padding: 20px;
        border: 3px solid black;
        width: 318px;
        margin: 20px;
       border-radius: 3px;
       color: white;
       background-color: black;
       display: block;
    }
    .itembox5{
        padding: 10px;
        border: none;
        width: 318px;
        margin: 40px;
       border-radius: 3px;
       background-color:#ecf0f1;
       font-weight: bold;
       display: block;
    }
}
/* ----------------------------------------------------------------------------------- */
*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.containerA{
    max-width: 1400px;
    margin: auto;
}

.Main{
    background-image: url("./../images/e6157d-15-041-3b75-0dc8deb2ea41_yt-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left{
    max-width: 550px;
    max-height: 430px;
}
.leftimg{
    width: 100%;
    height: 100%;
}

.Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.PP{
    margin-top: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
.black{
    color: black;
}
.headertwo{
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
}
.Atag{
    text-decoration: none;
    color: blue;
}
.butt {
    background-color: black;
    padding: 15px 35px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 15px;
}

.Photos{
    background-color: black;
    display: flex;
    flex-direction: column;
}
.Photo{
    max-width: 292.5px;
    max-height: 164.4px;
    margin: 10px 5px;
    border: 1px solid white;
    border-radius: 3px;
}
.pht{
    width: 100%;
    height: 100%;
}
.gridcontainer{
    margin: 25px 5px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}

@media screen and (max-width: 992px) {

    .gridcontainer{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }


@media screen and (max-width: 768px) {
    .Main{
        background-image: url("./../images/e6157d-15-041-3b75-0dc8deb2ea41_yt-bg.webp");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .gridcontainer{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  }
  /* ========================================================================================================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    background-color: black;
}


/* p{
    width: 152.39px;
    height: 51px;
    color: wheat;
} */

.container{
    gap: 10px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 100px;
    max-width: 1300px;
    margin: 0px auto;
    background-color: black;
}

.item{
    max-width: 366.66px;
    max-height: 222px;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
}


.header{
    display: flex;
    justify-content: center;
}
.main{
    max-width: 304.66px;
    height: 100px;
    margin-left: 30px;
}
h1{
    color: #3195ff;
    text-decoration: uppercase;
    width: 304.66px;
    height: 28.8px;
    font-family: sans-serif;
    font-size: 18px;
}

h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
    width: 304.66px;
    height: 30.59px;
}

.port{
max-width: 214.2px;
height: 25px;
font-size: 18px;
font-family: sans-serif;
color: #ffffff;
font-weight: 500;
}

.get{
color: #0072EF;
text-decoration: none;
cursor: pointer;
font-size: 18px;
font-family: sans-serif;
width: 91.25px;
height: 28.8px;
margin-top: 5px;
}

.image{
    width: 60px;
    height: 54px;
    /* margin-left: 280px; */
    margin-top: 10px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.imgBox{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.next{
    padding: 5px 0px;
}

.next .port{
    margin-top: 5px;
}

.itemBox{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;

}

.itemRow{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemRight{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemLeft{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemLine{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemBorder{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemCols{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

.itemStart{
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    max-height: 222px;
    max-width: 366.66px;
}

@media screen and (max-width: 992px) {
    .container{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        margin-top: 100px;
        max-width: 1300px;
        margin: 0px auto;
    }
}
  

  @media screen and (max-width: 768px) {
    .container{
        display: grid;
        justify-items: center;
        align-content: space-around;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-top: 100px;
        max-width: 1300px;
        margin: 0px auto;
    }
}

